<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<Listeners>
<Listener class name=org.acc.Testng.C"></Listener>
</Listeners>
  <test thread-count="5" name="Test">
 
    <classes>
      <class name="org.acc.Testng.A"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
